@font-face {
    font-family: 'Source Sans Pro';
    src: url(../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf);
}

body {
    background-color: #FFE1C7;
    font-family: 'Source Sans Pro', sans-serif;
}

header {
    width: 95%;
    margin: auto;
    overflow: hidden;
    background: white;
    margin-bottom: 20px;
}

header div .logo img {
    color: black;
    font-size: 40px;
    line-height: 100px;
    float: left;

    display: block;
    margin: auto;
    width: 18%;
}

header nav {
    float: right;
    line-height: 130px;
}

header nav a {
    display: inline-block;
    color: orangered;
    text-decoration: none;
    padding: 10px 20px;
    line-height: normal;
    font-size: 22px;
    font-weight: bold;
}

footer {
    width: 95%;
    margin: auto;
    overflow: hidden;
    background: white;
    margin-bottom: 20px;
}

footer .logofooter img {
    display: inline-block;
    margin: auto;
    width: 46%;
    margin-left: 310px;
    margin-right: 320px;
}

footer .crea {
    display: inline-block;
    color: orangered;
    text-decoration: none;
    padding: 10px 20px;
    line-height: normal;
    font-size: 22px;
    font-weight: bold;
    float: left;
    line-height: 110px;
}

footer .pi {
    display: inline-block;
    color: orangered;
    text-decoration: none;
    padding: 10px 20px;
    line-height: normal;
    font-size: 22px;
    font-weight: bold;
    float: right;
    line-height: 110px;
    margin: auto;
}

footer .logofooter {
    display: inline-block;
    margin: auto;
    padding: 20px;
    width: 25%;
}

.navbar {
    width: 90%;
    max-width: 1500px;
    margin: auto;
    overflow: hidden;
}

section img {
    display: block;
    margin: auto;
    width: 90%;
    height: 500px;
    margin-bottom: 20px;
}

.img_central1 img {
    display: block;
    margin: auto;
    width: 90%;
    height: 280px;
    margin-bottom: 20px;
}

.infos {
    width: 100%;
    display: block;
    margin: auto;
    margin-left: 70px;
}

.infos .info {
    float: left;
    width: 54%;
    margin-right: 29px;
    background-color: white;
    margin-bottom: 20px;
}

.infos .info2 {
    float: left;
    width: 34%;
    margin-right: 57px;
    background-color: white;
    margin-bottom: 20px;
}

.contacto {
    width: 90%;
    display: block;
    margin: auto;
    overflow: hidden;
}

section .datos {
    float: left;
    margin: 25px;
}

section .datos .btrabaja {
    background-color: orangered;
    color: white;
    height: 30px;
    padding: 5px;

}

section .datos a:link {
    text-decoration: none;
}


.noticias {
    float: left;
    margin: 20px;
}

section .info2 .noticias img {
    width: 100%;
    height: 286px;
}

section .info2 .noticias a:link {
    text-decoration: none;
}

iframe {
    float: right;
    width: 60%;
    height: 400px;
    margin: 30px;
    border: 1;
}

.McuerpoA h2 {
    color: orangered;
    margin: 25px;
    font-size: 28px;
}

.Mcuerpo2A h2 {
    color: orangered;
    margin: 25px;
    display: inline-block;
    font-size: 28px;

}

.McuerpoA p {
    margin: 25px;
    display: inline-block;
    text-align: justify;
    font-size: 18px;
}

.Mcuerpo2A p {
    margin: 25px;
    display: inline-block;
    text-align: justify;
    font-size: 18px;
}

.Mcuerpo {
    float: left;
    width: 90%;
    margin-left: 5%;
    background-color: white;
    margin-bottom: 20px;

}

.Mcuerpo2 {
    float: left;
    width: 90%;
    margin-left: 5%;
    background-color: white;
    margin-bottom: 20px;
}

.Mcuerpo2B img {
    float: left;
    width: 40%;
    margin: 29px;
}

.McuerpoB img {
    float: right;
    width: 38%;
    margin: 29px;
}

.Ploqbuscamos {
    float: left;
    width: 45%;
    margin-left: 5%;
    background-color: white;
    margin-bottom: 20px;
}

.Ploqbuscamos h2 {
    color: orangered;
    margin: 25px;
    font-size: 28px;
    text-align: center;

}

.Ploqbuscamos p {
    margin: 25px;
    display: inline-block;
    text-align: justify;
    font-size: 18px;
}

.PRequisitos {
    float: left;
    width: 40%;
    margin-left: 5%;
    background-color: white;
    margin-bottom: 20px;
}

.PRequisitos h2 {
    color: orangered;
    margin: 25px;
    font-size: 28px;
    text-align: center;

}

.PRequisitos p {
    margin: 25px;
    display: inline-block;
    text-align: justify;
    font-size: 18px;
}

.Poferta {
    float: left;
    width: 90%;
    margin-left: 5%;
    background-color: white;
    margin-bottom: 20px;
}

.Poferta h2 {
    color: orangered;
    margin: 25px;
    font-size: 28px;
    text-align: center;
}

.Poferta p {
    margin: 25px;
    text-align: center;
    font-size: 18px;
}

.formtexa {
    width: 400px;
    height: 200px;
}
