@font-face {
    font-family: 'Source Sans Pro';
    src: url(../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf);
}

body {
    background-color: burlywood;
    font-family: 'Source Sans Pro', sans-serif;
}

header {
    width: 95%;
    margin: auto;
    overflow: hidden;
    background: white;
    margin-bottom: 20px;
}

.navbar {
    width: 90%;
    max-width: 1500px;
    margin: auto;
    overflow: hidden;
}

section img {
    display: block;
    margin: auto;
    width: 90%;
    height: 400px;
    margin-bottom: 20px;
}

.infos {
    width: 100%;
    display: block;
    margin: auto;
    margin-left: 70px;
}

.infos .info {
    float: left;
    width: 43%;
    margin-right: 57px;
    background-color: white;
    margin-bottom: 20px;
}

.contacto {
    width: 90%;
    display: block;
    margin: auto;
    overflow: hidden;
}

section .datos {
    float: left;
    margin: 20px;
}

section .map {
    float: left;
    width: 300px;
    border: 0;
    margin: 20px;

}

.noticias {
    float: left;
    margin: 20px;
}

header div .logo img {
    color: black;
    font-size: 40px;
    line-height: 100px;
    float: left;
    display: block;
    margin: auto;
    width: 18%;
}

header nav {
    float: right;
    line-height: 130px;
}

header nav a {
    display: inline-block;
    color: orangered;
    text-decoration: none;
    padding: 10px 20px;
    line-height: normal;
    font-size: 22px;
    font-weight: bold;
}

/*veeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee*/

.FcontenedorTodo {
    background-color: white;
    width: 95%;
    height: 450px;
    margin-left: 40px;
}

.FcontenedorTodo h1 {
    color: orangered;
    font-family: sans-serif;
}

.Fcontenedor-imagenes {
    display: flex;
    width: 85%;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 3px;
}


.Fimage {
    width: 50px;
    height: 50px;
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}

h2 {
    color: white;
}

.Fporte {
    width: 100%;
    height: 100%;
}

.Foverlay {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.Ftexto {
    background-color: #f09d56;
    color: white;
    font-size: 16px;
    padding: 25px 32px;
}

.Fcontenedor:hover .Foverlay {
    opacity: 0.9;
}

.Fcontenedor:hover .Fimagen {
    opacity: 1;
}

.Fimagen img {
    width: 100px;
}

aside h3 {
    padding-bottom: 20px;
}

aside a {
    border-radius: 10px;
    background-color: darkorange;
    color: #9be0e0;
    margin-top: 30px;
    padding: 10px 40px;
    width: 30%;
    text-decoration: none;
}

.Fcontenedor-frase {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    background-color: white;
    width: 95%;
    height: 200px;
    margin-left: 40px;
    opacity: 1;
    position: relative;

}

.Fcontenedor-frase .Ffrase {
    color: #ff642a;
    position: relative;
    opacity: 1;

}

.Fcontenedor-frase img {
    opacity: 0.5;
    height: 200px;
    width: 1429px;
    position: absolute;
}


/*lllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllll*/

.Fvaloracion {
    background-color: white;
    width: 95%;
    height: 220px;
    margin-left: 40px;
}

.Fvaloracion h1 {
    color: orangered;
    font-family: 'Source Sans Pro', sans-serif;
}

form {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
}
